:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: powderblue;
  margin: 0%;
  padding: 0%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  top: 6rem;
  padding: 1rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:first-child .nav-link {
  height: 3rem;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.horizontalNavbar {
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: white;
}

.horizontalNavbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.horizontalNav-items {
  padding: 10px;
}

.horizontalNav-link {
  margin-right: 3rem;
  text-decoration: none;
  height: 3rem;
  width: 5rem;
  color: black;
}

.svg-color {
  fill: #df49a6;
  transition: var(--transition-speed);
}
